.article {
  max-width: 70rem;
  margin: auto;
  display: grid;
  grid-template-columns: 16rem 1fr;
  h2 {
    font-size: 1.2rem;
    margin-top: 4rem;
  }
  a {
    text-decoration: none;
    color: grey;
    &:hover {
      font-weight: bold;
    }
  }
  p {
    text-indent: 1.5rem;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    p {
      max-width: 30rem;
      margin: 2rem auto 2rem auto;
    }
  }
}


.tableOfContents {
  padding: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 50px;
  align-self: start;
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    margin: 1rem 0 1rem 0;
    a {
      text-decoration: none;
      color: black;
      font-size: 0.9rem;
      &:hover {
        font-weight: normal;
        color: $color1;
      }
    }
    &.active > a {
      color: $color1;
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {
  .tableOfContents {
    display: none;
  }
  .article {
    grid-template-columns: 1fr;
  }
}
