.cards {
    display: flex;
    flex-wrap: wrap;
    .card {
        margin: 1rem;
        padding: 1rem 0 1rem 0;
        width: 15rem;
        border-bottom: solid 1px grey;
        position: relative;
        .topic {
            font-size: small;
        }
        h3 {
            margin: 0.5rem 0 2rem 0;
        }
        .date {
            position: absolute;
            bottom: 0.5rem;
            font-size: small;
        }
    }
}

.projects-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card {
        width: 30rem;
        margin: 1rem;
        padding: 1rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    }
}