body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p {
  text-align: justify;
  text-justify: inter-word;
  text-indent: 0;
  line-height: 1.5em;
}
ul {
  list-style: none;
}
$box-shadow: 0 1px 28px rgba(0, 0, 0, 0.25);
a {
  list-style: none;
  text-decoration: none;
  color: black;
  transition: color 0.2s;
  &:hover {
    text-shadow: #5c67d2;
  }
}

// .bg-lavender {
//   background-color: #e8f0fe;
// }
// .bg-slateblue {
//   background-color: #5c67d2;
// }
// .bg-mistyrose {
//   background-color: #fce8e6;
// }
// .bg-palevioletred {
//   background-color: #d08399;
// }
// .bg-honeydew {
//   background-color: #e6f4ea;
// }
// .bg-seagreen {
//   background-color: #357f56;
// }
// .bg-cornsilk {
//   background-color: #fef7e0;
// }
// .bg-peru {
//   background-color: #bd823a;
// }
// .bg-black {
//   background-color: #000;
// }

// .txt-lavender {
//   color: #e8f0fe;
// }
// .txt-slateblue {
//   color: #5c67d2;
// }
// .txt-mistyrose {
//   color: #fce8e6;
// }
// .txt-palevioletred {
//   color: #d08399;
// }
// .txt-honeydew {
//   color: #e6f4ea;
// }
// .txt-seagreen {
//   color: #357f56;
// }
// .txt-cornsilk {
//   color: #fef7e0;
// }
// .txt-peru {
//   color: #bd823a;
// }
// .txt-white {
//   color: #fff;
// }

// ********************* //
.fw-bold {
  font-weight: bold;
}

.fs-small {
  font-size: 0.8rem;
}

// ******************************** //

.arrow {
  border: solid grey;
  border-width: 0 3px 3px 0;
  position: relative;
  bottom: 1.5px;
  display: inline-block;
  padding: 3px;
  // margin: 1.5rem 0 0 0;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
// ******************************** //

.profile-img {
  width: 15.276rem;
  height: 15rem;
  margin: 1rem;
  box-shadow: $box-shadow;
}

@mixin flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hgroup {
  @include flex;
}

.hgroup-space-arround {
  @include flex;
  justify-content: space-around;
}
.hgroup-space-between {
  @include flex;
  justify-content: space-between;
}

.vgroup {
  @include flex;
  flex-direction: column;
}

.box {
  margin: 1rem auto 1rem auto;
  padding: 1rem;
  max-width: 80rem;
  box-shadow: $box-shadow;
}

.badge {
  border-radius: 3px;
  padding: 0.3em;
  margin: 0.3em;
  color: white;
}

.logo {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
}
