body {
  margin: 0;
}

p {
  text-align: justify;
  text-justify: inter-word;
  text-indent: 0;
  line-height: 1.5em;
}
ul {
  list-style: none;
  padding: 0;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
  transition: color 0.2s;
}

// ******************************** //

.profile-img {
  width: 15.276rem;
  height: 15rem;
  margin: 1rem;
  box-shadow: $box-shadow;
}

@mixin flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hgroup {
  @include flex;
}

.hgroup-space-arround {
  @include flex;
  justify-content: space-around;
}
.hgroup-space-between {
  @include flex;
  justify-content: space-between;
}

.vgroup {
  @include flex;
  flex-direction: column;
}

.box {
  margin: 1rem auto 1rem auto;
  padding: 1rem;
  max-width: 80rem;
  box-shadow: $box-shadow;
}

.badge {
  // border-radius: 3px;
  padding: 0.3em;
  margin: 0.3em;
  color: white;
  box-shadow: $box-shadow;
}

.logo {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
}
