.navbar {
  a {
    margin-left: 1rem;
    list-style: none;
    text-decoration: none;
    color: black;
    transition: color 0.2s;
  }
  .nav-link:hover {
    border-bottom: solid 2px $elegant-color;
  }
}
