.tableOfContents {
  height: 100%;
  width: 13rem;
  max-width: 13rem;
  position: fixed;
  z-index: 1;
  top: 8rem;
  li {
    margin-bottom: 0.5rem;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        font-weight: bold;
      }
    }
    &.active > a {
      color: #4285f4;
    }
  }
}

@media (max-width: 768px) {
  .tableOfContents {
    display: none;
  }
}
