body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
  text-align: justify;
  text-justify: inter-word;
  text-indent: 0;
  line-height: 1.5em;
}

ul {
  list-style: none;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

a:hover {
  text-shadow: #5c67d2;
}

.fw-bold {
  font-weight: bold;
}

.fs-small {
  font-size: 0.8rem;
}

.arrow {
  border: solid grey;
  border-width: 0 3px 3px 0;
  position: relative;
  bottom: 1.5px;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.profile-img {
  width: 15.276rem;
  height: 15rem;
  margin: 1rem;
  -webkit-box-shadow: 0 1px 28px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 28px rgba(0, 0, 0, 0.25);
}

.hgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hgroup-space-arround {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hgroup-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box {
  margin: 1rem auto 1rem auto;
  padding: 1rem;
  max-width: 80rem;
  -webkit-box-shadow: 0 1px 28px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 28px rgba(0, 0, 0, 0.25);
}

.badge {
  border-radius: 3px;
  padding: 0.3em;
  margin: 0.3em;
  color: white;
}

.logo {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
}

.dot {
  width: 0.5rem;
  min-width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin: 0rem 1rem 0 0;
}

.accordion {
  max-width: 60rem;
  margin: auto;
}

.accordion-header {
  border: none;
  background-color: white;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.accordion-header h3 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.content {
  overflow: hidden;
  -webkit-transition: height ease 0.2s;
  transition: height ease 0.2s;
  margin-left: 0.5rem;
  padding: 0 1em 0 1em;
  border-left: solid 5px;
  border-radius: 5px;
}

.arrow-link {
  float: right;
}
/*# sourceMappingURL=main.css.map */