body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  padding-top: 100px;
  margin: 0 auto 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

.hero {
  margin: auto;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 40rem;
  border: 1px solid;
  padding: 1rem;
  margin: 1rem;
}

.hero .box2 {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 40rem;
}

p {
  text-align: justify;
  text-justify: inter-word;
  text-indent: 0;
  line-height: 1.5em;
}

.img {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.icon {
  width: 2rem;
  margin: 0 1rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project {
  padding: 1rem;
  margin: 2rem;
  border: 2px solid #0080FF;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.project h3 {
  -ms-grid-row: 1;
  grid-row: 1;
  margin: 1rem;
}

.project p {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  margin: 1rem;
}

.project .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project .wrapper * {
  margin: 1rem;
}

.hgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hgroup-space-arround {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hgroup-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
}

footer {
  border-top: 1px solid;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer * {
  padding: 1rem;
}

nav {
  height: 40px;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  border-bottom: 1px solid;
}

nav a {
  color: black;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a:hover {
  text-decoration: none;
}

nav a.active {
  z-index: 100;
  color: white;
  background-color: black;
}

.article {
  max-width: 60rem;
  margin: 2rem auto 2rem auto;
  padding: 4rem 2rem 4rem 2rem;
}

.article .container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article .container-1 .wordsBy {
  border-bottom: 1px solid;
  padding-bottom: 0.5rem;
}

.article .container-1 .author {
  margin-left: 0.5rem;
  font-weight: bold;
}

.article .container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 1rem 0 1rem 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.article .container-2 .date {
  margin: auto 0 auto 0;
}

.article .container-2 .shareButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article .container-2 .shareButtons img {
  padding: 0.5rem;
}

.article .readingTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article .abstract {
  font-size: 2rem;
  border-bottom: 1px solid;
  padding: 0 0 2rem 0;
}

.article .article-content {
  max-width: 40rem;
  margin: 3rem auto 3rem auto;
  line-height: 2;
}

.article .article-content h2 {
  font-weight: 500;
  margin-top: 3rem;
  font-size: 1.2rem;
}

.article .article-content p {
  line-height: 2;
  text-indent: 2rem;
}

.resume {
  font-size: 0.9rem;
}

.resume header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.resume header div {
  margin: 0 1rem 0rem 1rem;
}

.resume ul {
  list-style: none;
  border-left: solid 5px;
  border-radius: 5px;
  border-color: lightgrey;
  margin-left: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.resume li {
  color: grey;
  margin-bottom: 0.25rem;
  max-width: 60rem;
}

.resume .company_name {
  color: blue;
  font-weight: bold;
}

.articleSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.articleSection .topicList {
  margin: 1rem;
  width: 20rem;
}

.articleSection .topicList div {
  border: 1px solid;
  padding: 0.5rem;
  margin: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.8rem;
}

.articleSection .topicList div:hover {
  background-color: black;
  color: white;
}

.articleSection .topicList .active {
  background-color: black;
  color: white;
}

.articleSection .articleList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articleSection .articleList .card {
  margin: 1rem;
  width: 20rem;
  border: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articleSection .articleList .card .title {
  font-size: 1.2rem;
  height: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.articleSection .articleList .card .date {
  font-size: 0.8rem;
  font-weight: normal;
  border-bottom: 1px solid;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.articleSection .articleList .card .abstract {
  font-size: 1rem;
  height: 8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
}

.articleSection .articleList .card .topic {
  font-size: 0.8rem;
  border-top: 1px solid;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
/*# sourceMappingURL=main.css.map */